.contenedor{
    background-color: rgb(149, 160, 170);
    width: 60%;
    margin: 0 auto;/*(0)arriba y abajo. (auto)derecha e izquierda*/
    height: 500px;
    padding-top: 20px;
    position: relative;
}
.verde{
    background-color: green;
    width: 90%;
    margin: 0 auto 20px;/*(0)arriba (auto)laterales (20px)abajo*/
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    /*posicionamiento absoluto:se mide con respecto a un elemento que tenga pocisionamiento relativo. por consiguiente el elemento con pocisionamiento relativo por nacimiento es la etiqueta <body>*/
}
.celeste{
    background-color: blue;
    width: 90%;
    margin: 0 auto 20px;/*(0)arriba (auto)laterales (20px)abajo*/
    height: 150px;
}
.amarillo{
    background-color: yellow;
    width: 90%;
    margin: 0 auto 20px;/*(0)arriba (auto)laterales (20px)abajo*/
    height: 150px;
}